/* src/styles.css or your global CSS file */
@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/poppins/Poppins-Light.ttf');
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden;
  }